## Observations and Insights

In [89]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [90]:
mouse_metadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [91]:
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [92]:
#combine data into a single dataset
merge_df = pd.merge(mouse_metadata, study_results, on="Mouse ID", how="outer")

In [93]:
#display the data table for preview
merge_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0
15,s185,Capomulin,Female,3,17,25,33.949940,0
16,s185,Capomulin,Female,3,17,30,32.959671,1
17,s185,Capomulin,Female,3,17,35,28.328531,1
18,s185,Capomulin,Female,3,17,40,25.472143,1
19,s185,Capomulin,Female,3,17,45,23.343598,1
20,x401,Capomulin,Female,16,15,0,45.000000,0
21,x401,Capomulin,Female,16,15,5,45.473753,0
22,x401,Capomulin,Female,16,15,10,39.113891,0
23,x401,Capomulin,Female,16,15,15,39.776250,0
24,x401,Capomulin,Female,16,15,20,36.065835,0
25,x401,Capomulin,Female,16,15,25,36.617120,0
26,x401,Capomulin,Female,16,15,30,32.915292,0
27,x401,Capomulin,Female,16,15,35,30.206825,0
28,x401,Capomulin,Female,16,15,40,28.167397,0
29,x401,Capomulin,Female,16,15,45,28.484033,0
...,...,...,...,...,...,...,...,...
1863,z581,Infubinol,Female,24,25,0,45.000000,0
1864,z581,Infubinol,Female,24,25,5,49.273092,1
1865,z581,Infubinol,Female,24,25,10,50.478750,2
1866,z581,Infubinol,Female,24,25,15,51.196304,2
1867,z581,Infubinol,Female,24,25,20,51.807944,2
1868,z581,Infubinol,Female,24,25,25,54.316407,2
1869,z581,Infubinol,Female,24,25,30,56.286750,2
1870,z581,Infubinol,Female,24,25,35,58.628399,3
1871,z581,Infubinol,Female,24,25,40,60.053740,3
1872,z581,Infubinol,Female,24,25,45,62.754451,3
1873,z795,Naftisol,Female,13,29,0,45.000000,0
1874,z795,Naftisol,Female,13,29,5,46.833475,0
1875,z795,Naftisol,Female,13,29,10,48.030804,0
1876,z795,Naftisol,Female,13,29,15,49.368132,1
1877,z795,Naftisol,Female,13,29,20,53.280657,1
1878,z795,Naftisol,Female,13,29,25,57.947100,2
1879,z795,Naftisol,Female,13,29,30,59.789636,2
1880,z795,Naftisol,Female,13,29,35,60.435654,2
1881,z795,Naftisol,Female,13,29,40,62.376639,3
1882,z795,Naftisol,Female,13,29,45,65.741070,3
1883,z969,Naftisol,Male,9,30,0,45.000000,0
1884,z969,Naftisol,Male,9,30,5,49.332999,0
1885,z969,Naftisol,Male,9,30,10,52.656081,1
1886,z969,Naftisol,Male,9,30,15,54.713005,2
1887,z969,Naftisol,Male,9,30,20,57.898778,2
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [74]:
# Checking the number of mice.
mice_count = len(merge_df["Mouse ID"].unique())
mice_count

249

In [94]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
dup_mouse = merge_df.loc[merge_df.duplicated(subset=["Mouse ID", "Timepoint"]), "Mouse ID"].unique()
dup_mouse

array(['g989'], dtype=object)

In [95]:
# Optional: Get all the data for the duplicate mouse ID. 
dup_mouse_data = merge_df[merge_df["Mouse ID"] == "g989"]
dup_mouse_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [103]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_merge_df = merge_df.drop([908,909,910,911,912,913,914,915,916,917,918,919,920], axis=0)
clean_merge_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [83]:
# Checking the number of mice in the clean DataFrame.
mice_count_clean = len(clean_merge_df["Mouse ID"].unique())
mice_count_clean

248

## Summary Statistics

In [107]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [138]:
#groupby regimen
drug_regimen = clean_merge_df.groupby(["Drug Regimen"])

In [139]:
#mean
drug_mean = drug_regimen["Tumor Volume (mm3)"].mean()

In [140]:
#median
drug_median = drug_regimen["Tumor Volume (mm3)"].median()

In [141]:
#variance
drug_variance = drug_regimen["Tumor Volume (mm3)"].var()

In [142]:
#standard deviation
drug_std = drug_regimen["Tumor Volume (mm3)"].std()

In [143]:
#SEM
drug_sem = drug_regimen["Tumor Volume (mm3)"].sem()

In [144]:
#put into a summary table
drug_regimen_summary = pd.DataFrame({"Mean": drug_mean,
                                    "Median": drug_median,
                                    "Variance": drug_variance,
                                    "Standard Deviation": drug_std,
                                    "SEM": drug_sem})
drug_regimen_summary

                   Mean     Median       SEM  Standard Deviation   Variance
Drug Regimen
Capomulin     40.675741  41.557809  0.329346            4.994774  24.947764
Ceftamin      52.591172  51.776157  0.469821            6.268188  39.290177
Infubinol     52.884795  51.820584  0.492236            6.567243  43.128684
Ketapril      55.235638  53.698743  0.603860            8.279709  68.553577
Naftisol      54.331565  52.509285  0.596466            8.134708  66.173479
Placebo       54.033581  52.288934  0.581331            7.821003  61.168083
Propriva      52.320930  50.446266  0.544332            6.622085  43.852013
Ramicane      40.216745  40.673236  0.320955            4.846308  23.486704
Stelasyn      54.233149  52.431737  0.573111            7.710419  59.450562
Zoniferol     53.236507  51.818479  0.516398            6.966589  48.533355

In [152]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line
#https://pandas.pydata.org/docs/getting_started/intro_tutorials/06_calculate_statistics.html
drug_regimen_aggregate = drug_regimen.agg({'Tumor Volume (mm3)': ['mean', 'median', 'sem', 'std', 'var']})
drug_regimen_aggregate

             Tumor Volume (mm3)
                           mean     median       sem       std        var
Drug Regimen
Capomulin             40.675741  41.557809  0.329346  4.994774  24.947764
Ceftamin              52.591172  51.776157  0.469821  6.268188  39.290177
Infubinol             52.884795  51.820584  0.492236  6.567243  43.128684
Ketapril              55.235638  53.698743  0.603860  8.279709  68.553577
Naftisol              54.331565  52.509285  0.596466  8.134708  66.173479
Placebo               54.033581  52.288934  0.581331  7.821003  61.168083
Propriva              52.320930  50.446266  0.544332  6.622085  43.852013
Ramicane              40.216745  40.673236  0.320955  4.846308  23.486704
Stelasyn              54.233149  52.431737  0.573111  7.710419  59.450562
Zoniferol             53.236507  51.818479  0.516398  6.966589  48.533355

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen